<div class="container">
  <div>
    <img class="img-fluid" src="../../../assets/img/Home-Software.png" alt="">
  </div>
</div>

<!-- targetas -->
<div class="container">
  <div>
    <div class="row">
      <!-- | filter:'category':criterio  *ngFor="let item of animal | filter:'category':type"-->
      <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 section-target py-4" *ngFor="let companySoftware of company">
        <div class="card">
          <img
            src="{{companySoftware.imageUrl}}"
            class="img h-40"
          />
          <div class="card-body">
            <h5 class="card-title">{{companySoftware.name}}</h5>
            <p class="card-text">{{companySoftware.email}}</p>
            <p class="card-text">{{companySoftware.address.street}}</p>
            <p class="card-text">{{companySoftware.company.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
