.card-img-top{
  width: 15rem;
  height: 10rem;
}
.card {
  height: 310px;
  width: 320px;
  border: solid 1px rgb(182, 182, 182);
  box-shadow: 3px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.gravatar {
  margin-top: 10%;
  margin-left: 42%;
  height: 64px;
  width: 110px;
  size: 400px;
}

.gravatar img {
  width: 100%;
}
